#react-editor-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2vw;
  div {
    flex: 1;
    height: fit-content;
  }
  div#arrow {
    flex: 0;
    align-content: center;
    margin: auto;
  }
}

#editor-text,
#preview-text {
  font-size: max(12px, 1.1vw);
  width: 100%;
  height: 2000px;
  border: none;
  resize: none;
  overflow: hidden;
  :focus,
  :active {
    box-shadow: none;
    -moz-box-shadow: none;
    outline: none;
    border: none;
    background-color: gray;
  }
}
