#react-header * {
  font-family: Arial;
}

#filename {
  font-size: 20px;
  font-weight: 900;
}

#src-repo {
  font-size: 20px;
  font-weight: 300;
}

#save-history {
  font-weight: 300;
  opacity: 0.3;
}