#preview {
  background: white;
  padding: 20px;
  min-height: 260px;
  min-width: 200px;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.025);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

  * {
    color: rgb(36, 41, 47);
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    //   Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    //   sans-serif;
  }

  blockquote {
    border-left: 4px solid #CCC;
    color: rgb(87,96,106);
    display: block;
    line-height: 24px;
    margin: 0;
    padding-left: 10px;
  }

  code {
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
      Liberation Mono, monospace;
    font-size: 13.6px;
    line-height: 20.4px;
    padding: 2.72 5.44;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    border-bottom: 0.5px rgb(36, 41, 47) solid;
    margin-block-end: 16px;
    overflow-wrap: break-word;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 16px;
    margin-top: 0px;
    padding-bottom: 9.6px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 24px;
    padding-bottom: 7.2px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 16px;
    margin-block-start: 24px;
    margin-top: 24px;
  }

  li {
    font-size: 16px;
    line-height: 24px;
    list-style-type: disc;
    margin-top: 4px;
    overflow-wrap: break-word;
  }
}
