#toolbar {
  position: sticky !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 11px;
  .toolbar-item {
    button {
      font-family: Verdana;
      font-size: 14px;
      background: #FAFAFA;
      height: 28px;
      border: none;
      padding: 0px 10px;
      border-radius: 6px;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &:hover {
        scale: 1.04;
        box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
      }
      &:active {
        scale: 0.92;
      }
      transition: scale 0.25s, box-shadow 0.25s;
    };
  }
  #fetch-page-button {
  }

  #github-login button {
    background-color: darken(purple, 5%);
    color: white;
    // font-weight: 500;
  }
}

